body .bgcolor-green {
  background-color: #43d392;
}
body .bgcolor-orange {
  background-color: #ff9551;

body .bgcolor-mint {
  background-color: #b9fff8;
}

.header-layout {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
}
.header-layout img {
  padding: 0.9rem;
}
.header-layout .set-right {
  margin-left: auto;
}

.template-layout {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.template-layout .title-text {
  width: calc(100% - 2rem);
  align-self: flex-start;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.template-layout .title-text button {
  width: calc(40%);
  height: 3.5rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: 0.17rem solid black;
  color: white;
  font-weight: bold;
  margin-left: auto;
}
.template-layout .content-layout {
  width: 92.5%;
  display: flex;
  flex-flow: column;
  margin-bottom: 4rem;
}
.template-layout .content-layout input {
  width: calc(100% - 4px - 1rem);
  height: 3rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  border: 0.17rem solid black;
}
.template-layout .content-layout .submit-button {
  width: calc(100%);
  height: 3.5rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 0.17rem solid black;
  color: white;
  font-weight: bold;
}
.template-layout .content-layout .list-box {
  width: calc(100% - 1rem);
  height: 12rem;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
}
.template-layout .content-layout .list-box .img-box {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.template-layout .content-layout .list-box .img-box img {
  height: 100%;
  background-size: cover;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.template-layout .content-layout .list-box .text-box {
  font-family: "Roboto";
  font-style: normal;
  width: 50%;
}
.template-layout .content-layout .list-box .text-box .list-title {
  height: calc(50% - 1rem);
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
}
.template-layout .content-layout .list-box .text-box .list-discription {
  height: calc(50% - 1rem);
  padding: 0.5rem;
  font-weight: 400;
  font-size: 0.7rem;
}
.template-layout .content-layout .main-box {
  width: calc(100%);
  height: 25rem;
  display: flex;
  flex-flow: column;
  padding-bottom: 1.5rem;
}
.template-layout .content-layout .main-box .img-box {
  width: 100%;
  height: 21.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.template-layout .content-layout .main-box .img-box img {
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.template-layout .content-layout .main-box .text-box {
  font-family: "Roboto";
  font-style: normal;
  width: 100%;
  height: 3.5rem;
}
.template-layout .content-layout .main-box .text-box .main-title {
  height: calc(50% - 1rem);
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
}
.template-layout .content-layout .main-box .text-box .main-discription {
  height: calc(50% - 1rem);
  padding: 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
}
.template-layout .content-layout .main-box .detail-box {
  font-family: "Roboto";
  font-style: normal;
  width: calc(100% - 1rem);
  padding: 1.3rem 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.template-layout .content-layout .main-box .detail-box .detail-title {
  font-weight: 700;
  font-size: 1rem;
}
.template-layout .content-layout .main-box .detail-box .icon-img {
  padding: 0.3rem;
}
.template-layout .content-layout .discription-box {
  width: calc(100% -1rem);
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: white;
  display: flex;
  border-top: 1px solid #cccccc;
}
.footer-container .link-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer-container .link-container a {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}